body {
  background-color: rgb(53, 48, 41);
  padding: 0 30px;
}

.featured {
  width: 700px;
  /* max-height: 300px; */
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.4;
  margin: 5px;
  border: 2px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;

}

.slide-wrapper {
  max-width: 635px;
  display: flex;
  /* min-height: 100px; */
  align-items: center;
}

.slider {
  /* width: 440px; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover {
  opacity: .5;
  width: 35px;
  height: 35px;
}